<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>Welcome to a secure messenger app.</p>
    <p th:text="${greeting}"></p>
    <p th:text="'Logged in user id: ' + ${loggedInUserId}"></p>
    <p id="privateKeyCheckMessage"></p>
    <span sec:authorize="isAuthenticated()">Hello, <span sec:authentication="name"></span></span>
    <div sec:authorize="!isAuthenticated()">
        <a href="/login">login</a>
        <a href="/register">register</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="/logout">unregister</a>
    </div>
    <p>
        <a href="/messages">view messages</a>
    </p>
    <p>
        <a href="/users">view users</a>
    </p>
    <p>
        <a href="/test">view test page</a>
    </p>
    <p>
        <a href="/h2-console">view h2 console</a>
    </p>
</body>
<script type="text/javascript" th:src="@{/javascript/home.js}"></script>
<script>
    const userId = "[[${userId}]]";
    registerCheck(userId);
    privateKeyCheck(userId);
</script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>