<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>Welcome to a secure messenger app.</p>
    <p th:text="${greeting}"></p>
    <p>
        <a th:if="${username == null}" href="/register">register</a>
    </p>
    <p>
        <a th:unless="${username == null}" href="/unregister">unregister</a>
    </p>
    <p>
        <a href="/messages">view messages</a>
    </p>
    <p>
        <a href="/users">view users</a>
    </p>
</body>
</html>