<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
    <p>View all messages.</p>
    <p>
        <a href="/messages">read message</a>
    </p>
    <p>
        <a href="/home">go back</a>
    </p>
    <br>
    <div>Messages:</div>
    <div th:if="${messages.isEmpty()}">
        <span>No messages found.</span>
    </div>
    <div th:unless="${messages.isEmpty()}">
        <ul th:each="message: ${messages}">
            <li>
                <span th:text="${'on '+message.getDateSent()+' from '+message.getFromUser().getUsername()+': '}"></span><a th:href="@{'/messages/'+${message.getId()}}">Open</span> </a>
            </li>
        </ul>
    </div>
</body>
</html>