<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
    <p>View all messages.</p>
    <p>
        <a href="/message">read message</a>
    </p>
    <p>
        <a href="/home">go back</a>
    </p>
    <br>
    <ul>
        <li>
            on 04/09/2020 from Mary: <a href="/message/1">Open</a>
        </li>
        <li>
            on 03/09/2020 from Joe: <a href="/message/2">Open</a>
        </li>
        <li>
            on 03/09/2020 from Bob: <a href="/message/3">Open</a>
        </li>
    </ul>
</body>
</html>