<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<script type="text/javascript" th:src="@{/javascript/register.js}"></script>
<body>
    <p>Create new user account.</p>
    <p>
        <a href="/home">go back</a>
    </p>
    <p th:text="${message}"></p>
    <br/>

    <form action="#" th:action="@{/register}" th:object="${employee}" method="post">
        <p>Username: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
        <p>Public Key: <input type="text" th:field="*{publicKey}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
    <p><button th:onclick="generateAndSaveKeyPair()">Generate Keys</button></p>
</body>
</html>