<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{/javascript/send-message.js}"></script>
<body>
    <p>Create new message.</p>
    <p>
        <a href="/home">go back</a>
    </p>
    <p th:text="'Receiver user id: ' + ${receiverUserId}"></p>
    <br>
    <form method="post" th:action="@{'/send/'+${userId}}" th:object="${message}">
        <label for="message">Message:</label>
        <input type="text" id="message" th:field="*{messageContent}"/><br>
        <br>
        <button type="button" th:onclick="encodeMessage()">Encode Message</button><br>
        <input type="submit" value="Send"/><br>
    </form>
</body>
</html>