<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{/javascript/send-message.js}"></script>
<body>
    <p>Create new message.</p>
    <p>
        <a href="/home">go back</a>
    </p>
    <p th:text="'Logged in user id: ' + ${loggedInUserId}"></p>
    <p th:text="'Receiver user id: ' + ${receiverUserId}"></p>
    <p th:text="'Receiver public key: ' + ${receiverPublicKey}"></p>
    <br>
    <div>
        <p>Public key of receiver for encoding:</p>
        <input id="publicKey" type="text"/>
    </div>
    <div>
        <p>Message:</p>
        <input id="message" type="text"/>
        <input type="button" value="Encode" onclick="encodeMessage()">
    </div>
    <br>
    <form method="post" th:action="@{'/send/'+${userId}}" th:object="${message}">
        <label for="encodedMessage">Encoded message:</label>
        <input type="text" id="encodedMessage" th:field="*{messageContent}"/><br>
        <br>
        <input type="submit" value="Send"/><br>
    </form>
</body>
<script>
    const userId = "[[${userId}]]";
    const receiverPublicKey = atob("[[${receiverPublicKey}]]");
    document.getElementById("publicKey").value = receiverPublicKey;
</script>
</html>