<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>View all users.</p>
    <p>
        <a href="/home">go back</a>
    </p>
    <br>
    <div>Users:</div>
    <div th:if="${users.isEmpty()}">
        <span>No users found.</span>
    </div>
    <div th:unless="${users.isEmpty()}">
        <ul th:each="user: ${users}">
            <li>
                <a th:href="@{'/send/'+${user.getId()}}"> <span th:text="${user.getUsername()}"></span> </a>
            </li>
        </ul>
    </div>
</body>
</html>