<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>View all users.</p>
    <p>
        <a href="/send">send message</a>
    </p>
    <p>
        <a href="/home">go back</a>
    </p>
    <br>
    <ul>
        <li>
            <a href="/send/1">Frank</a>
        </li>
        <li>
            <a href="/send/2">Joseph</a>
        </li>
        <li>
            <a href="/send/3">Mary</a>
        </li>
    </ul>
</body>
</html>