<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Message</title>
</head>
<script type="text/javascript" th:src="@{/javascript/view-message.js}"></script>
<script>
    const messageContent = "[[${message.getMessageContent()}]]";
</script>
<body>
    <p>
        <a href="/messages">go back</a>
    </p>
    <p th:text="'Logged in user id: '+${loggedInUserId}"></p>
    <br>
    <div>
        <p>Message content:</p>
        <p th:text="'On: '+${message.getDateSent()}"></p>
        <p th:text="'From: '+${message.getFromUser().getUsername()}"></p>
        <p th:text="'Content: '+${message.getMessageContent()}"></p>
        <button type="button" onclick="decodeMessage()">Decode Message</button>
    </div>
    <br>

    <div>
        <p>Private key of receiver for decoding:</p>
        <input id="privateKey" type="text"/>
    </div>
    <div>
        <p>Encoded message:</p>
        <input id="encodedMessage2" type="text"/>
        <input type="button" value="Decode" onclick="decodeMessage()">
    </div>
    <div>
        <p>Decoded message message:</p>
        <input id="decodedMessage" type="text"/>
    </div>
</body>
<script>
    const userId = "[[${loggedInUserId}]]";
    const loggedInPrivateKey = JSON.parse(localStorage.getItem("messengerAppData")).userData[userId.toString()].privateKey;
    document.getElementById("privateKey").value = loggedInPrivateKey;
    document.getElementById("encodedMessage2").value = "[[${message.getMessageContent()}]]";
</script>
</html>